<template name='login'>
  <section id='login'>
    <div class='container-fluid'>
      {{> banner}}
      <div class='col-md-4 col-md-offset-4'>
        <form>
          <div class="form-group">
            <label for="username">Username</label>
            <input name='username' type="text" class="form-control" id="username" placeholder="Enter admin login">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input name='password' type="password" class="form-control" id="password" placeholder="Password">
          </div>
          <button type='submit' class='btn btn-success'> Login </button>
        </form>
      </div>
    </div>
  </section>
</template>