<template name='scoreboard'>
  <section id='scoreboard'>
    <div class='container-fluid'>
      {{> banner}}
      <div class='row'>
        <div class='col-md-6 col-md-offset-3'>
          <div class='jumbotron'>
            {{#if noTeam}}
              <h2> No teams have registered yet! <br/><a href='/register'> Be the first. </a></h2>
            {{/if}}
            <ol>
              {{#each teams}}
                <li> 
                  <span class='name'> {{name}} </span>
                  <span class='score pull-right'>{{score}}</span> 
                </li>
              {{/each}}
            </ol>
          </div>
          {{#if noTeam}}
          {{else}}
            <h5 class='pull-right'> If you haven't signed up, register <a href='/register'> here! </a></h5>
          {{/if}}
        </div>
      </div>
    </div>
  </section>
</template>